.information-box {

  > .information{
    margin: 0 0 28px;

    > .label {
      @include font-size('small');
      text-transform: uppercase;
      font-weight: bold;
      display: block;
    }

    > .labelvacation {
      width: 60px;
      padding: 4px 5px;
      border-radius: 3px;
      margin-bottom: 5px;
      background: $second-color;
      text-align: center;
      text-transform: initial;
      color: $second-font-color;
    }

    > .informationtext {
      @include font-size('medium');
      color: $thirdth-font-color;
      overflow-wrap: break-word;
      margin: 3px 0;
    }
      
    > .calendaricon {
      @include size(15px);
      color: $thirdth-font-color;
      display: inline-block;
    }
  }
    
}

@include respond-to('medium') {

  .information-box {
    display: flex;    
    margin: 10px 0px;

    > .label {
      width: 28%;
    }

    > .informationlabel {    
      margin: 0;
    }

  }
}