.profile-content {
    display: flex;
    justify-content: center;
    flex-direction: column;

  > .secondcolumn {
    width: 100%;
  }  
}

@include respond-to('medium') {
  .profile-content {
    flex-direction: row;
    justify-content: flex-start;
    
    > .firstcolumn {
      flex-direction: row;
      margin: 0 5% 0 0;
    }
  }
}