.profile-content {
  padding: 30px;

  > .secondcolumn {
    width: 100%;
  }  
}

@include respond-to('medium') {
  .profile-content {
    display: flex;
    flex-direction: row;
    
    > .firstcolumn {
      margin: 0 5% 0 0;
    }

    > .secondcolumn {
      width: 70%;
    } 
  }
}