.skill-progress {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: -$skil-progress-margin;

  > .skills {
    flex: 5 1 200px;
    margin: $skil-progress-margin;

    > .title {
      @include font-size("s-medium");        
    }
  }
}