@charset 'utf-8';

// sizes.
$page-width: 930px;
$page-max-width: 90%;

// Background colors
$main-color: #efefef;
$second-color: #e8676b;

// Font Styles
$font-family: "Open Sans", sans-serif;
$font-color: #3d4451;
$second-font-color: #fff;
$thirdth-font-color: #9da0a7;
$font-sizes: (
  'small': 12px,
  's-medium': 14px,
  'medium': 15px,
  'large': 18px,
  'huge': 26px,
  'x-huge': 36px,
);

// breakpoints
$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);